<div class="site-header">
    <div><p>Quest Tracker</p></div>
    <nav>
        <ul>
            <li><a href="/quests">Quests</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
    </nav>
</div>
